{% extends 'admin/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<!--Start of Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}
<!--End of Flash Messages-->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary text-white text-center p-3">
                <h4>Total Products</h4>
                <h2>{{ prod_count if prod_count else 0 }}</h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success text-white text-center p-3">
                <h4>Total Mcats</h4>
                <h2>{{ mcat_count if mcat_count else 0 }}</h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning text-white text-center p-3">
                <h4>Total Brands</h4>
                <h2>{{ brand_count if brand_count else 0 }}</h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-danger text-white text-center p-3">
                <h4>Total Vertical</h4>
                <h2>{{ vertical_count if vertical_count else 0  }}</h2>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-secondary text-white text-center p-3">
                <h4>Total Questions</h4>
                <h2>{{ question_count if question_count else 0 }}</h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-info text-white text-center p-3">
                <h4>Question Attempted</h4>
                <h2>{{ attempted_count if attempted_count else 0 }}</h2>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}

